html,
body {
  height: 100%;
}

:root {
--sombre : #1b212e;
--clair : #3a4e71;
--rouge : #dc3545;
-rougeFoncee : #370b34;
--bleu : #17a2b8;
}

body {
  /* display: -ms-flexbox; */
  /* display: flex; */
  -ms-flex-align: center;
  align-items: center;
  background-color: #1b212e; /* Ceci est la couleur du fond*/
	font-family: Helvetica, sans-serif;
}

.border-notop {
  border-bottom: 1px solid !important;
  border-left: 1px solid !important;
  border-right: 1px solid !important;
}

.border-b {
  border-bottom: 1px solid !important;
}

.border-t {
  border-top: 1px solid !important;
}

.border-r {
  border-right: 1px solid !important;
}

.border-l {
  border-left: 1px solid !important;
}

.border-clair {
  border-color: #3a4e71 !important;
}

.white-text {
  color: #fff;
}

.btn-thoughts {
  color: #fff;
  background-color: #1b212e;
  border-color: #1b212e;
}

.btn-thoughts:hover {
  color: #dc3545;
  background-color: #370b34;
  border-color: #370b34;
}

.btn-red {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-red:hover {
  color: #fff;
  background-color: #a52633;
  border-color: #a52633;
}

.btn-petitgros {
  display: block;
  border-radius: 10rem;
}

.mtb-2 {
  margin-top : 2px;
  margin-bottom : 2px;
}

.mtb-4 {
  margin-top : 4px;
  margin-bottom : 4px;
}

.mtb-10 {
  margin-top : 10px;
  margin-bottom : 10px;
}

.btn-centered {
  margin-right: auto;
  margin-left: auto
}

.btn-right {
  margin-left: auto;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
