html,
body {
  height: 100%;
}

:root {
--sombre : #1b212e;
--clair : #3a4e71;
--rouge : #dc3545;
-rougeFoncee : #370b34;
--bleu : #17a2b8;
}

body {
  /* display: -ms-flexbox; */
  /* display: flex; */
  -ms-flex-align: center;
  align-items: center;
  /* background-color: #fff; */
  background-color:#fff;
	font-family: Helvetica, sans-serif;
  color:#303b5e;
}

.btn-post {
display: block;
border-radius: 10rem;
/* width:200px; */
padding: 20px 40px;
height:100px;
margin-right:20px;
margin-left:auto;
color: #fff;
background-color: #85a1ff;
/* border-color: #85a1ff; */
border:none;
}

.btn-post:hover {
display: block;
border-radius: 10rem;
/* width:240px; */
height:100px;
margin-right:0px;
padding: 20px 60px;
color: #fff;
background-color: #597eff;
/* border-color: #597eff; */
border:none;
}

.btn-post:active {
  background-color: #193db9;
  box-shadow: 0 0 #666;
  transform: translateY(2px);
}

.text-post {
  background-color: transparent;
  border:none;
  width:100%;
  height: 60%;
  margin-bottom:2%;
}

.postBox{
  padding:80px;
  margin-top:20px;
  margin-left:80px;
  margin-right:80px;
  /* background-color:#fafafa; */
  background-color: #f6f8ff;
  border-radius: 5rem !important;
  height:600px;
  color:#303b5e;
}

.pos-end{
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.profileBox{
  padding-right:80px;
  padding-left:80px;
  margin-right:80px;
  margin-left:80px;
  /* background-color:#fafafa; */
  background-color: #f6f8ff;
  border-radius: 5rem !important;
  height:600px;
  color:#303b5e;
}

.messageBox{
  padding:80px;
  margin:80px;
  /* background-color:#fafafa; */
  background-color: #f6f8ff;
  border-radius: 5rem !important;
  height:700px;
  color:#303b5e;
}

.message {
font-size: 2.5rem;
font-weight: 300;
line-height: 1.2;
height:100%;
padding-right:100px;
border-right: 1px solid;
border-color: #cecece;
/* background-color:#c1ccff; */
}

.com {
font-size: 2rem;
font-weight: 300;
line-height: 1.2;
height:100%;
/* background-color:#ffd3ef; */
}

.font-swag {
font-size: 2.5rem;
font-weight: 300;
line-height: 1.2;
}

.navBar {
padding:20px !important;
padding-left:70px !important;
padding-right:70px !important;
background-color: #ffffff !important;
font-size:180% !important;
}

.non{
  list-style: none;
}

.h-70 {
  height:70%
}

.h-15 {
  height:15%
}
.p-100 {
  padding: 100px;
}

.p-l-100 {
  padding-left: 100px;
}

.p-r-100 {
  padding-right: 100px;
}

.p-t-100 {
  padding-top: 100px;
}

.p-t-120 {
  padding-top: 120px;
}

.p-b-100 {
  padding-bottom: 100px;
}

.border-notop {
  border-bottom: 1px solid !important;
  border-left: 1px solid !important;
  border-right: 1px solid !important;
}

.border-b {
  border-bottom: 1px solid !important;
}

.border-t {
  border-top: 1px solid !important;
}

.border-r {
  border-right: 1px solid !important;
}

.border-l {
  border-left: 1px solid !important;
}

.border-clair {
  border-color: #3a4e71 !important;
}

.white-text {
  color: #fff;
}

.btn-thoughts {
  color: #fff;
  background-color: #1b212e;
  border-color: #1b212e;
}

.btn-thoughts:hover {
  color: #dc3545;
  background-color: #370b34;
  border-color: #370b34;
}

.btn-red {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-red:hover {
  color: #fff;
  background-color: #a52633;
  border-color: #a52633;
}

.btn-petitgros {
  display: block;
  border-radius: 10rem;
}

.mtb-2 {
  margin-top : 2px;
  margin-bottom : 2px;
}

.mtb-4 {
  margin-top : 4px;
  margin-bottom : 4px;
}

.mtb-10 {
  margin-top : 10px;
  margin-bottom : 10px;
}

.btn-centered {
  margin-right: auto;
  margin-left: auto
}

.btn-right {
  margin-left: auto;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
