html,
body {
  height: 100%;
}

body {
  /* display: -ms-flexbox; */
  /* display: flex; */
  -ms-flex-align: center;
  align-items: center;
  /* padding-top: 40px; */
  /* padding-bottom: 40px; */
  background-color: #1b212e;
	font-family: Helvetica, sans-serif;
}

.postMessage, .postMessage:focus{
height:200px;
background-color: #1b212e;
border: none;
width: 100%;
resize: none;
box-sizing: border-box;
}

.non{
  list-style: none;
}
.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: 0 auto !important;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
